<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ipadress" value= "127.0.0.1" />
    <add key="webport" value="13000" />
    <add key="webroot" value="pad naar webroot" />
    <add key="defaultPage" value="index.html;index.htm" />
    <add key="configpath" value="pad naar project/Server/view" />
    <add key="log" value="pad naar project/Server/setup-log/log.txt"/>
    <add key="dbon" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="logindb" connectionString="Server=127.0.0.1:3306;Database=logindb;Uid=root;Pwd=;"/>
  </connectionStrings>
</configuration>